@inherits LayoutComponentBase

@Body

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
        <img src="/images/logoCAD.png" alt="Logo" class="img-fluid d-inline-block align-top" style="max-height: 50px;" /> 
    <a class="dismiss">🗙</a>
</div>
