@inject Sesion UsuarioSesion

@if (UsuarioSesion.EstaAutenticado() && !UsuarioSesion.esCliente() && !UsuarioSesion.UsuarioActual.DebeCambiarPassword)
{
    <div class="nav-list">
        <div class="nav-item">
            <NavLink href="/listar-turnos-creados" class="nav-link" Match="NavLinkMatch.All">
                <span class="bi bi-calendar-event me-2"></span> Turnos
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink href="/Canchas" class="nav-link">
                <span class="bi bi-grid-3x3 me-2"></span> Canchas
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink href="/Profesores" class="nav-link">
                <span class="bi bi-person-badge me-2"></span> Profesores
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink href="/Actividades" class="nav-link">
                <span class="bi bi-activity me-2"></span> Actividades
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink href="/Empleados" class="nav-link">
                <span class="bi bi-people me-2"></span> Empleados
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink href="/Devoluciones" class="nav-link">
                <span class="bi bi-cash me-2"></span> Devoluciones
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink href="/MiPerfil" class="nav-link">
                <span class="bi bi-person-vcard me-2"></span> Mi perfil
            </NavLink>
        </div>
    </div>
}


@if (UsuarioSesion.EstaAutenticado() && UsuarioSesion.esCliente())
{
    <div class="nav-list">
        <div class="nav-item">
            <NavLink href="/Turnos" class="nav-link" Match="NavLinkMatch.All">
                <span class="bi bi-calendar-event me-2"></span> Turnos
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink href="/MiPerfil" class="nav-link">
                <span class="bi bi-person-badge me-2"></span> Mi Perfil
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink href="/MisReservas" class="nav-link">
                <span class="bi bi-ticket-perforated me-2"></span> Mis Reservas
            </NavLink>
        </div>
    </div>
}
