@page "/editar-reserva/{Id:int}"
@rendermode InteractiveServer
@inject IReservaRepositorio RepositorioReserva
@inject EditarReservaUseCase EditarReservaCase
@inject Sesion SesionUsuario
@inject NavigationManager Navegador

<PageTitle>Editar Reserva</PageTitle>

<h3>Datos de la Reserva</h3>

@if (reserva == null)
{

}
else
{
    <input placeholder="ID de Persona" @bind="personaId" class="form-control">
    <input placeholder="ID del Evento" @bind="eventoId" class="form-control">
    <input placeholder="Estado" @bind="estado" class="form-control">
    <p><strong>Fecha de alta:</strong> @fechaAlta.ToString("dd/MM/yyyy HH:mm")</p>

}

<button class="btn btn-success" @onclick="GuardarDatos">Guardar datos</button>
<button class="btn btn-secondary" @onclick="Cancelar">Cancelar</button>

@if (!string.IsNullOrEmpty(mensaje))
{
    <div class="alert alert-danger">@mensaje</div>
}


@code {
    
    [Parameter]
    public int Id { get; set; }
    public int idReservaEditada;
    public int personaId;
    public int eventoId;
    public DateTime fechaAlta;
    public EstadoAsistencia estado;
    public Reserva? reserva;
    
    public string mensaje = "";
    protected override void OnInitialized()
    {
        reserva = RepositorioReserva.RetornarReserva(Id);
        if (reserva != null)
        {
            idReservaEditada = reserva.Id;
            personaId = reserva.PersonaId;
            eventoId = reserva.EventoDeportivoId;
            fechaAlta = reserva.FechaAltaReserva;
            estado = reserva.EstadoAsistencia;
        }
    }
    void MostrarMensaje(string msj)
    {
        mensaje = msj;
    }
    void GuardarDatos()
    {
        if (reserva == null)
        {
            return;
        }

        try
        {
            mensaje = "";
            var reservaNueva = new Reserva(personaId, eventoId);
            reservaNueva.AsignarEstadoAsistencia(estado);
            EditarReservaCase.Ejecutar(reservaNueva, idReservaEditada, SesionUsuario.UsuarioActual!.Id);
            Navegador.NavigateTo("/Reservas");
        }
        catch (Exception ex)
        {
            mensaje = ex.Message;
            MostrarMensaje(mensaje);
        }

    }
    void Cancelar()
    {
        Navegador.NavigateTo("/Reservas");
        mensaje = "";
    }
}