<<<<<<< HEAD
<<<<<<< HEAD
@page "/Login"
@inject IniciarSesionUseCase LoginUseCase
@inject Sesion UsuarioSesion
@inject NavigationManager Navegador
=======
﻿@page "/Login"
@inject IniciarSesionUseCase IniciarSesionUseCase
@inject Sesion UsuarioSesion
@inject NavigationManager Navegador
@inject IUsuarioRepositorio Repo
>>>>>>> 76738d239c256c39b77153a84ae48dd5834e798a

=======
﻿@*@page "/Login"
@inject LoginUseCase LoginUseCase
@inject Sesion UsuarioSesion
@inject NavigationManager Navegador
@inject IRepositorioUsuario Repo
 *@
>>>>>>> d2f48e2d146661fe7a41a53c37d5e54b8d046751
@rendermode InteractiveServer

<h3>Iniciar Sesión</h3>
     
<div class="mb-3">
    <input placeholder="Correo" @bind="datos.Correo" class="form-control" />
</div>

<div class="mb-3">
    <input placeholder="Contraseña" @bind="datos.Password" class="form-control" type="password" />
</div>

<div class="mb-3">
    <button class="btn btn-primary" @onclick="IniciarSesion">Confirmar</button>
    <button class="btn btn-danger" @onclick="Registrarse">Registrarme</button>
</div>

@if (!string.IsNullOrEmpty(error))
{
    <div class="alert alert-danger">@error</div>
}

@code {
    public DatosLogin datos = new();
    public string error = "";

    protected override void OnInitialized()
    {
        
    }

    public async Task IniciarSesion()
    {
        error = ""; // Limpia errores previos

        try
        {
<<<<<<< HEAD
            var usuario = await LoginUseCase.ejecutar(datos.Correo, datos.Password);
=======
            var usuario = IniciarSesionUseCase.Ejecutar(datos.Correo, datos.Password);
>>>>>>> 76738d239c256c39b77153a84ae48dd5834e798a
            UsuarioSesion.IniciarSesion(usuario);
            Navegador.NavigateTo("/usuarios");
        }
        catch (Exception ex)
        {
            error = ex.Message;
            StateHasChanged();

        }
    }

    void Registrarse()
    {
        Navegador.NavigateTo("/registrar");
    }

    public class DatosLogin
    {
        public string Correo { get; set; } = "";
        public string Password { get; set; } = "";
    }
}
