@page "/MiPerfil"
@rendermode InteractiveServer

@inject Sesion UsuarioSesion
@inject NavigationManager Navegador

<PageTitle>Mi Perfil</PageTitle>

<h1 class="mb-4">MI PERFIL</h1>

@if (UsuarioSesion.UsuarioActual == null)
{
    <p>No hay usuario autenticado.</p>

    <button class="btn btn-primary"
            @onclick="IrLogin">
        Ir al Login
    </button>
}
else
{
    <div class="text-center card shadow-sm border-0 p-4 rounded-4">

    <h6 class="mb-3 text-dark">Datos personales</h6>

    <p class="mb-1"><strong>Nombre:</strong> @UsuarioSesion.UsuarioActual.Nombre</p>
    <p class="mb-1"><strong>Apellido:</strong> @UsuarioSesion.UsuarioActual.Apellido</p>
    <p class="mb-3"><strong>Email:</strong> @UsuarioSesion.UsuarioActual.Email</p>

    <div class="d-flex gap-5 justify-content-center mt-3">

        <NavLink class="btn btn-outline-primary"
                 href="@($"/editar-usr/{UsuarioSesion.UsuarioActual.Id}")">
            Editar usuario
        </NavLink>

        <button class="btn btn-outline-danger"
                @onclick="CerrarSesion">
            Cerrar sesión
        </button>

    </div>
</div>
}

@code {

    void IrLogin()
    {
        Navegador.NavigateTo("/Login");
    }

    void CerrarSesion()
    {
        UsuarioSesion.CerrarSesion();
        Navegador.NavigateTo("/Login", true);
    }


}