@page "/editar-cancha/{Id:int}"
@rendermode InteractiveServer
@inject ICanchaRepositorio RepositorioCancha
@inject EditarCanchaUseCase EditarCanchaCase
@inject Sesion SesionUsuario
@inject NavigationManager Navegador

<PageTitle>Editar Cancha</PageTitle>

<h3>Datos de la Cancha</h3>

@if (cancha == null)
{

}
else
{
    <div class="card shadow-sm border-0 rounded-4 p-4" style="max-width: 700px;">
        <input placeholder="Numero de Cancha" @bind="numero" type="number" class="form-control mb-3">
        <input placeholder="Capacidad" @bind="Capacidad"  type="number" class="form-control mb- 3">

        <div class="d-flex gap-2 mt-3 justify-content-end">

            <button class="btn btn-success mb-2" @onclick="GuardarDatos">Guardar datos</button>
            <button class="btn btn-secondary mb-2" @onclick="Cancelar">Cancelar</button>

        </div>
        @if (!string.IsNullOrEmpty(mensaje))
        {
            <div class="alert alert-danger mt-3">@mensaje</div>
        }
    </div>
   
}


@code {

    [Parameter]
    public int Id { get; set; }
    public int idCanchaAEditar;
    public int numero;
    public int Capacidad;

    public Cancha? cancha;

    public string mensaje = "";
    protected override async Task OnInitializedAsync()
    {
        cancha = await RepositorioCancha.ObtenerPorIdAsync(Id);
        if (cancha != null)
        {
            idCanchaAEditar = cancha.Id;
            numero = cancha.Numero;
            Capacidad = cancha.Capacidad;
        }
    }

    void MostrarMensaje(string msj)
    {
        mensaje = msj;
    }
    async Task GuardarDatos()
    {
        if (cancha == null)
        {
            return;
        }

        try
        {
            mensaje = "";

            cancha.Numero = numero;
            cancha.Capacidad = Capacidad;

            await EditarCanchaCase.Ejecutar(cancha);

            mensaje = "Edición exitosa";
            StateHasChanged();
        }
        catch (Exception ex)
        {
            mensaje = ex.Message;
        }
        MostrarMensaje(mensaje);
    }

    void Cancelar()
    {
        cancha = new Cancha();
        Navegador.NavigateTo("/canchas");
        mensaje = "";
    }
}