@page "/editar-usr/{Id:int}"
@rendermode InteractiveServer
@inject IUsuarioRepositorio RepositorioUsuario
@inject EditarUsuarioUseCase EditarUsuarioCase
@inject Sesion SesionUsuario
@inject NavigationManager Navegador

<PageTitle>Editar datos personales</PageTitle>

<div class="container-fluid p-0">

    <h2 class="mb-1">Editar datos personales</h2>
    <p class="text-muted mb-4">
        Actualizá la información del usuario
    </p>

    @if (usuario == null)
    {
        <div class="alert alert-info">
            Cargando datos del usuario...
        </div>
    }
    else
    {
        <div class="card shadow-sm border-0 rounded-4 p-4" style="max-width: 700px;">

            <h5 class="mb-3">Información personal</h5>

            <input placeholder="Nombre" @bind="nombre" type="text" class="form-control mb-2">
            <input placeholder="Apellido" @bind="apellido" type="text" class="form-control mb-2">
            <input placeholder="DNI" @bind="dni" type="number" class="form-control mb-2">
            <input placeholder="Domicilio" @bind="domicilio" class="form-control mb-2">
            <input placeholder="Correo" @bind="correo"type="email" class="form-control mb-2">

            <div class="d-flex gap-2 mt-3 justify-content-end">

                <button class="btn btn-outline-primary"
                        @onclick="GuardarDatos">
                    Guardar cambios
                </button>

                <button class="btn btn-outline-secondary"
                        @onclick="Cancelar">
                    Cancelar
                </button>

            </div>

        </div>
    }

    @if (!string.IsNullOrEmpty(mensaje))
    {
        <div class="alert alert-danger mt-3">
            @mensaje
        </div>
    }

</div>

@code {
    string mensaje = "";

    [Parameter]
    public int Id { get; set; }

    public Usuario? usuario;

    public string nombre = "";
    public int idUsuario;
    public string apellido = "";
    public string dni = "";
    public string domicilio = "";
    public string correo = "";

    void CambiarContrasenia()
    {
        Navegador.NavigateTo("/cambiar-contraseña");
    }

    protected override async Task OnInitializedAsync()
    {
        usuario = await RepositorioUsuario.ObtenerPorIdAsync(Id);

        if (usuario != null)
        {
            nombre = usuario.Nombre;
            idUsuario = usuario.Id;
            apellido = usuario.Apellido;
            dni = usuario.Dni;
            domicilio = usuario.Domicilio;
            correo = usuario.Email ?? "";
        }
    }

async Task GuardarDatos()
{
    if (usuario == null)
        return;

    try
    {
       

            
            var usuarioModificado = new Usuario
            {
                Nombre = nombre,
                Apellido = apellido,
                Dni = dni,
                Domicilio = domicilio,
                Email = correo
            };

        await EditarUsuarioCase.Ejecutar(usuarioModificado,idUsuario);

        mensaje = "Los datos se han modificado correctamente.";
        Navegador.NavigateTo("/MiPerfil");
    }
    catch (Exception ex)
    {
        mensaje = ex.Message;
    }
}

    void Cancelar()
    {
        Navegador.NavigateTo("/MiPerfil");
    }
}