@page "/editar-profesor/{Id:int}"
@rendermode InteractiveServer
@inject IProfesorRepositorio RepositorioProfesor
@inject EditarProfesorUseCase EditarProfesorCase
@inject Sesion SesionUsuario
@inject NavigationManager Navegador

<PageTitle>Editar Profesor</PageTitle>

<h3>Datos del Profesor</h3>

@if (profesor == null)
{

}
else
{
    <div class="card shadow-sm border-0 rounded-4 p-4" style="max-width: 700px;">
        <input placeholder="Nombre" @bind="nombre" class="form-control mb-3">
        <input placeholder="Apellido" @bind="apellido" class="form-control mb-3">
        <input placeholder="DNI" @bind="dni" class="form-control mb-3">

        <div class="d-flex gap-2 mt-3 justify-content-end">

            <button class="btn btn-success mb-2" @onclick="GuardarDatos">Guardar datos</button>
            <button class="btn btn-secondary mb-2" @onclick="Cancelar">Cancelar</button>

        </div>
        @if (!string.IsNullOrEmpty(mensaje))
        {
            <div class="alert alert-danger mt-3">@mensaje</div>
        }
    </div>
    
}



@code {

    [Parameter]
    public int Id { get; set; }
    public int idProfesorAEditar;
    public string nombre = string.Empty;
    public string apellido = string.Empty;
    public string dni = string.Empty;

    public Profesor? profesor;

    public string mensaje = "";

    protected override async Task OnInitializedAsync()
    {
        profesor = await RepositorioProfesor.ObtenerPorIdAsync(Id);
        if (profesor != null)
        {
            idProfesorAEditar = profesor.Id;
            nombre = profesor.Nombre;
            apellido = profesor.Apellido;
            dni = profesor.Dni;
        }
    }

    void MostrarMensaje(string msj)
    {
        mensaje = msj;
    }
    async Task GuardarDatos()
    {
        if (profesor == null)
        {
            return;
        }

        try
        {
            mensaje = "";
            var profesorNuevo = new Profesor(nombre, apellido, dni);
            await EditarProfesorCase.Ejecutar(profesorNuevo, idProfesorAEditar);
            mensaje = "Profesor editado con exito.";
            Navegador.NavigateTo("/profesores");
        }
        catch (Exception ex)
        {
            mensaje = ex.Message;
            MostrarMensaje(mensaje);
        }

    }
    void Cancelar()
    {
        Navegador.NavigateTo("/profesores");
        mensaje = "";
    }
    protected override void OnInitialized()
    {
        Console.WriteLine("👉 EDITAR PROFESOR CARGADO");
    }
}