@page "/cambiar-contrasenia/{Id:int}"
@inject Sesion UsuarioSesion
@rendermode InteractiveServer 
@inject NavigationManager Navegador
@inject CambiarContraseniaUseCase CambiarContraseniaUseCase
@inject ObtenerUsuarioPorId ObtenerUsuarioPorId

<PageTitle>Cambiar contraseña</PageTitle>


<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow p-4" style="width: 100%; max-width: 400px;">
        <h2 class="text-center mb-4">Cambiar Contraseña</h2>

        <div class="mb-3">
            <label class="form-label">Contraseña actual</label>
            <input placeholder="••••••••" @bind="actual" class="form-control" type="password" autocomplete="new-password" />
        </div>

        <div class="mb-3">
            <label class="form-label">Contraseña nueva</label>
            <input placeholder="••••••••" @bind="nueva1" class="form-control" type="password" autocomplete="new-password">
        </div>

        <div class="mb-3">
            <label class="form-label">Repetir contraseña</label>
            <input placeholder="••••••••" @bind="nueva2" class="form-control" type="password" autocomplete="new-password">
        </div>

        <div class="text-center">
            <NavLink href="/olvide-contrasenia" class="text-decoration-none">
                ¿Olvidaste tu contraseña?
            </NavLink>
        </div>


        <div class="d-grid gap-2 mb-3 mt-2">
            <button class="btn btn-primary mb-3" @onclick="Redirigir">Confirmar</button>
            <button class="btn btn-outline-primary mb-3" @onclick="Cancelar" hidden="@UsuarioSesion.esEmpleado()">Cancelar</button>
        </div>

        @if (!string.IsNullOrEmpty(error))
        {
            <div class="alert alert-danger mt-3 text-center">@error</div>
        }
    </div>

</div>

@code {
    [Parameter] public int Id { get; set; }
    string actual = "";
    string nueva1 = "";
    string nueva2 = "";
    string email = "";

    async Task Cancelar()
    {
        Navegador.NavigateTo("/MiPerfil");
    }


    string error = "";

    async Task Redirigir()
    {
        error = "";

        try
        {
            await CambiarContraseniaUseCase.ejecutar(actual, nueva1, Id);
            var usuarioActualizado = await ObtenerUsuarioPorId.Ejecutar(Id);
            
            if (UsuarioSesion.esEmpleado())
            {
                Navegador.NavigateTo("/listar-turnos-creados");
            }
            else
            {
                Navegador.NavigateTo("/MiPerfil");
            }
        }
        catch (Exception ex)
        {
            error = ex.Message;
        }
    }
}

