@page "/olvide-contrasenia"
@inject NavigationManager Navegador
@rendermode InteractiveServer
@inject RecuperarContraseniaUseCase RecuperarContraseniaUseCase

<PageTitle>Recuperar Contraseña</PageTitle>

<div class="d-flex justify-content-center align-item-center vh-100">
    <div class="card-shadow p-4" style="width: 100%; max-width: 400px;">
        <h3 class="text-center mb-1">Recuperar contraseña</h3>
        <p class="text-muted text-center mb-4">
            Introduce la direccion de correo electronico asociado a tu cuenta para recuperar tu contraseña
        </p>
        <div>
            <div class="mb-2">
                <input placeholder="Correo electronico" @bind="email" class="form-control" />
            </div>
        </div>
        <button class="btn btn-outline-primary sm-2" @onclick="() => enviarMail(email)">Siguiente</button>
        <button class="btn btn-outline-ligth mt-1 mb-2" @onclick="() => Volver()">Volver</button>
    </div>
    @if (!string.IsNullOrEmpty(error))
    {
        <div class="alert alert-danger mt-3 mb-2 text-center">@error</div>
    }
</div>

@code {
    string email = "";
    string error = "";

    private async Task enviarMail(string email)
    {
        error = "";
        try
        {
            await RecuperarContraseniaUseCase.Ejecutar(email);
            email = "";
        }
        catch (Exception ex)
        {
            error = ex.Message;
        }
    }

    void Volver() => Navegador.NavigateTo("/Login");
}
