@page "/"
@layout PublicLayout
@inject NavigationManager Navigation
@rendermode InteractiveServer


<PageTitle>Inicio - Centro Deportivo</PageTitle>

<div class="container text-center mt-5">

    <div class="p-5 mb-4 bg-light rounded-3 shadow-sm">

        <h1 class="display-5 fw-bold text-primary">
            Bienvenido al Centro Deportivo
        </h1>

        <p class="fs-4 mt-3">
            Gestioná tus actividades, socios y turnos de forma fácil y rápida.
        </p>

        <hr class="my-4">

        <div class="d-flex justify-content-center gap-3 mt-4">

            <button class="btn btn-primary btn-lg px-4" @onclick="IrALogin"> Iniciar Sesión </button>

            <button class="btn btn-danger btn-lg px-4" @onclick="IrARegistrar"> Registrarme </button>

        </div>

    </div>

</div>


@code {
    private void IrARegistrar()    {
        Navigation.NavigateTo("registrar");
    }

    private void IrALogin()    {
        Navigation.NavigateTo("login");
    }

}
